@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

body{
	overflow-x: hidden; 
}
h1{
	font-size: 40pt;
	color: #545040;
	text-align: left;
}
.container-fluid{
	background-color:#FFF1C6;
	padding: 10px;
}
.page-header{
	background-image:url(../images/logo.png);
	background-size: cover;
		-webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	background-position: center center;
	height: 300px;
	border: 0px;
}
.members{
	text-align: center;	
}
.thumbnail{
	background-color: #B2A988;
}
.profile h1
#drake-logo{
	background-color:#FFDE7A;
	background-image:url(../images/logo.png);
	
}